:root {
	--clr-White: hsl(0, 0%, 100%);
	--Stone-100: hsl(30, 54%, 90%);
	--Stone-150: hsl(30, 18%, 87%);
	--Stone-600: hsl(30, 10%, 34%);
	--Stone-900: hsl(24, 5%, 18%);
	--Brown-800: hsl(14, 45%, 36%);
	--Rose-800: hsl(332, 51%, 32%);
	--Rose-50: hsl(330, 100%, 98%);
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	place-content: center;
	background-color: var(--Stone-100);
}

.container {
	max-width: 700px;
	background-color: var(--clr-White);
	padding: 1.5rem;
	margin: 5rem;
	border-radius: 1rem;
	font-family: 'Outfit', sans-serif;
	color: var(--Stone-600);
	font-size: 1rem;
}

img {
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 1.5rem;
}

.container h1, .container > h2 {
	font-family: 'Young Serif', sans-serif;
	margin-bottom: 1rem;
	font-weight: 400;
	color: var(--Brown-800);
}

.container h1 {
	color: var(--Stone-900);
}

.duration {
	background-color: var(--Rose-50);
	width: 100%;
	padding: 1.5rem;
	border-radius: 0.5rem;
}

.container section h2 {
	color: var(--Rose-800);
	margin-bottom: 1rem;
}

.duration-list, .ingredients-list, .instructions-list, .nutrition-list {
	padding-left: 2rem;
}

.ingredients-list li::marker, .instructions-list li::marker {
	color: var(--Brown-800);
}

.duration-list li::marker {
	color: var(--Rose-800);
}

.duration-list li, .ingredients-list li, .instructions-list li {
	padding-left: 1rem;
	margin-bottom: 1rem;
}

.instructions-list li::marker {
	font-weight: 700;
}

p {
	margin-bottom: 1rem;
}

span {
	font-weight: 700;
}

hr {
	border: 1px solid var(--Stone-150);
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.container > hr {
	margin-top: 2.5rem;
}

.nutrition-list li {
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
}

.nutrition-list span {
	color: var(--Brown-800);
	grid-column: 2;
	justify-self: center;
}

.nutrition-list hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

@media (max-width: 450px) {
	body {
		background-color: var(--clr-White);
	}

	.container {
		margin: 0;
	}

	.container img {
		width: calc(100% + 3rem);
		margin-inline: -1.5rem;
		margin-top: -1.5rem;
	}
}
