:root {
	--clr-White: hsl(0, 0%, 100%);
	--Stone-100: hsl(30, 54%, 90%);
	--Stone-150: hsl(30, 18%, 87%);
	--Stone-600: hsl(30, 10%, 34%);
	--Stone-900: hsl(24, 5%, 18%);
	--Brown-800: hsl(14, 45%, 36%);
	--Rose-800: hsl(332, 51%, 32%);
	--Rose-50: hsl(330, 100%, 98%);
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	place-content: center;
	background-color: var(--Stone-100);
}

.container {
	max-width: 700px;
	background-color: var(--clr-White);
	padding: 1.5rem;
	margin: 5rem;
	border-radius: 1rem;
	font-family: 'Outfit', sans-serif;
	color: var(--Stone-600);
	font-size: 1rem;
}

img {
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 1.5rem;
}

.container h1, .container > h2 {
	font-family: 'Young Serif', sans-serif;
	margin-bottom: 1rem;
	font-weight: 400;
	color: var(--Brown-800);
}

.container h1 {
	color: var(--Stone-900);
}

.container section h2 {
	color: var(--Rose-800);
}

span {
	font-weight: 700;
}